

.gallery-imgs{
    scrollbar-width: none;
  }

  .gallery-imgs::-webkit-scrollbar{
    display: none;
  }

  
  .addImage{
    box-shadow: -.5px -.5px 7px 0 #ffffff40, 9px 10px 7px 0 #0006, inset 0 0 49px 0 #ffffff0d, inset 0 3.25px 3.25px 0 #ffffff26
  }


.left-btn , .right-btn{
box-shadow: -5px -5px 30px -10px #96bee7, 4px 5px 30px 5px #101213;
}





